[run]
omit =
    src/tld/bench.py
    src/tld/tests/*
    src/tld/parsers/*
    .tox/*
    src_*/*
    src_py27/*
    src_py35/*

relative_files = True

[report]
exclude_lines =
    pragma: no cover
    raise NotImplementedError
