*.py[cod]
*.orig
/.hgignore~
/.gitignore~
/.hg/
/.hgtags
/.git/
/.tox/
.cache/
.coverage
/htmlcov/
*.py,cover
.pytest_cache
.python-version
.idea/
.ipynb_checkpoints/
/deb_dist/
/codebin/

/example/tmp/
/forks/
/bugs/
/builddocs/
/builddocs.zip
/build/
/dist/
/src/tld.egg-info
/hotfixes/
/MANIFEST.in~
/src/tld/res/old/
/src/tld/parsers/
/prof/
*.cprof
