exclude: "^docs/|/migrations/"
default_stages: [ commit, push ]
default_language_version:
  python: python3

repos:

  - repo: local
    hooks:
      - id: detect-secrets
        name: Detect secrets
        language: python
        entry: detect-secrets-hook
        args: ['--baseline', '.secrets.baseline']

      - id: doc8-root-rst
        name: Doc8 linter
        language: python
        entry: doc8
        args: ['*.rst']
      - id: doc8-root-md
        name: Doc8 linter
        language: python
        entry: doc8
        args: ['*.md']
      - id: doc8-root-txt
        name: Doc8 linter
        language: python
        entry: doc8
        args: ['*.txt']
      - id: doc8-root-docs-dir
        name: Doc8 linter
        language: python
        entry: doc8
        args: ['docs/']
      - id: doc8-root-benchmarks-rst
        name: Doc8 linter
        language: python
        entry: doc8
        args: ['benchmarks/*.rst']
      - id: doc8-root-examples-rst
        name: Doc8 linter
        language: python
        entry: doc8
        args: ['examples/*.rst']
      - id: doc8-root-jupyter-rst
        name: Doc8 linter
        language: python
        entry: doc8
        args: ['jupyter/*.rst']

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.3.0
    hooks:
      - id: trailing-whitespace
        exclude: "data/"

      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml
      - id: check-added-large-files
      - id: debug-statements
      - id: check-merge-conflict

  - repo: https://github.com/psf/black
    rev: 22.10.0
    hooks:
      - id: black
        name: black
        files: .
        args: [ "--config", "pyproject.toml" ]

#  - repo: https://github.com/pycqa/isort
#    rev: 5.10.1
#    hooks:
#      - id: isort
#        name: isort
#        files: .
#        args: [ "--settings-path", "pyproject.toml", "--profile=black" ]

  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.0.106
    hooks:
      - id: ruff
        name: lint
        files: .
        args: [ "--config", "pyproject.toml" ]

#  - repo: https://github.com/asottile/pyupgrade
#    rev: v3.2.0
#    hooks:
#      - id: pyupgrade
#        args: [ --py310-plus ]
