dist: xenial

language: python

matrix:
  fast_finish: true
  include:
  - env: TOX_ENV=py27
    python: 2.7
  - env: TOX_ENV=py34
    python: 3.4
  - env: TOX_ENV=py36
    python: 3.6
  - env: TOX_ENV=py36
    python: 3.6
  - env: TOX_ENV=py37
    python: 3.7
  - env: TOX_ENV=pypy
    python: pypy
install: pip install -r requirements/testing.txt

before_script:
  - sleep 10

script: tox -e $TOX_ENV
