dist: xenial

language: python

matrix:
  fast_finish: true
  allow_failures:
    - python: 2.7
    - python: 3.5
  include:
  - env: TOX_ENV=py27
    python: 2.7
  - env: TOX_ENV=py35
    python: 3.5
  - env: TOX_ENV=py36
    python: 3.6
  - env: TOX_ENV=py37
    python: 3.7
  - env: TOX_ENV=py38
    python: 3.8
#  - env: TOX_ENV=pypy
#    python: pypy
install: pip install -r requirements/testing.txt

before_script:
  - sleep 10

script: tox -e $TOX_ENV

after_success:
  - pip install coveralls
  - coveralls
